node-red/Flow-3_DB_History_Browser.json
[
    {
        "id": "f53815261b6cbf31",
        "type": "inject",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Recent Activity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 2120,
        "wires": [
            [
                "get_hydro_history_record_offset"
            ]
        ]
    },
    {
        "id": "94fcd52572e0a087",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Build Recent Activity SELECT",
        "func": "const offset = Math.max(0, Number(msg.history_offset) || 0);\nconst limitRaw = Number(msg.history_limit) || 5;\nconst limit = Math.min(50, Math.max(1, limitRaw));\n\nmsg.topic = `\nSELECT *\nFROM v_hydro_recent_activity\nORDER BY activity_time DESC\nLIMIT ${limit}\nOFFSET ${offset};\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2200,
        "wires": [
            [
                "f5ee07229a11f2f3"
            ]
        ]
    },
    {
        "id": "f5ee07229a11f2f3",
        "type": "mysql",
        "z": "3ec2ad8e53afdcdc",
        "mydb": "mysql_logbook_placeholder",
        "name": "Query Recent Activity",
        "x": 1140,
        "y": 2200,
        "wires": [
            [
                "fbc1559bf50e083e"
            ]
        ]
    },
    {
        "id": "fbc1559bf50e083e",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Format Recent Activity",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\nfunction fmtNum(v, decimals) {\n    const n = Number(v);\n    return Number.isFinite(n) ? n.toFixed(decimals) : null;\n}\n\nfunction fmtDate(v) {\n    if (!v) return \"\";\n\n    const d = new Date(v);\n    if (Number.isNaN(d.getTime())) return String(v);\n\n    return d.toLocaleString(\"en-US\", {\n        weekday: \"short\",\n        month: \"short\",\n        day: \"numeric\",\n        hour: \"numeric\",\n        minute: \"2-digit\",\n        hour12: true\n    });\n}\n\nfunction buildDetails(r, withColons = false) {\n    const details = [];\n    const sep = withColons ? \": \" : \" \";\n\n    if (fmtNum(r.fill_gallons, 2)) details.push(`Fill${sep}${fmtNum(r.fill_gallons, 2)} gal`);\n    if (fmtNum(r.dose_a_ml, 0)) details.push(`A${sep}${fmtNum(r.dose_a_ml, 0)} mL`);\n    if (fmtNum(r.dose_b_ml, 0)) details.push(`B${sep}${fmtNum(r.dose_b_ml, 0)} mL`);\n    if (fmtNum(r.tds_voltage, 3)) details.push(`TDS${sep}${fmtNum(r.tds_voltage, 3)} V`);\n    if (fmtNum(r.tank_gallons, 1)) details.push(`Tank${sep}${fmtNum(r.tank_gallons, 1)} gal`);\n    if (fmtNum(r.water_temp_f, 1)) details.push(`Temp${sep}${fmtNum(r.water_temp_f, 1)} °F`);\n\n    return details;\n}\n\nconst records = rows.map(r => {\n    const title = `#${r.source_id} — ${r.event_type || \"EVENT\"}`;\n    const details = buildDetails(r, false);\n\n    let label = fmtDate(r.activity_time);\n    if (r.source) label += ` · ${r.source}`;\n    if (details.length) label += `\\n${details.join(\" · \")}`;\n    if (r.note) label += `\\n${String(r.note).slice(0, 240)}`;\n    if (r.operator_note) label += `\\nOperator Note: ${String(r.operator_note).slice(0, 240)}`;\n\n    return {\n        ...r,\n        card_title: title,\n        card_label: label,\n        select_id: `${r.activity_source}:${r.source_id}`\n    };\n});\n\nconst lines = records.map(r => {\n    const details = buildDetails(r, true);\n\n    let line = `### ${r.card_title}\\n`;\n    line += `**${fmtDate(r.activity_time)}**`;\n    if (r.source) line += ` · ${r.source}`;\n    line += `\\n\\n`;\n\n    if (details.length) {\n        line += details.join(\" · \") + \"\\n\\n\";\n    }\n\n    if (r.note) {\n        line += `${String(r.note).slice(0, 240)}\\n`;\n    }\n\n    if (r.operator_note) {\n        line += `\\n**Operator Note:** ${String(r.operator_note).slice(0, 240)}\\n`;\n    }\n\n    return line;\n});\n\nmsg.payload = JSON.stringify({\n    state: \"ok\",\n    activity_text: lines.join(\"\\n---\\n\"),\n    records,\n    updated_at: new Date().toISOString()\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2200,
        "wires": [
            [
                "af6c5898dee7e49e",
                "8147a547056e405a"
            ]
        ]
    },
    {
        "id": "af6c5898dee7e49e",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "Formatted Query Text",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 2140,
        "wires": []
    },
    {
        "id": "8147a547056e405a",
        "type": "mqtt out",
        "z": "3ec2ad8e53afdcdc",
        "name": "Publish Recent Activity",
        "topic": "hydro/history/recent",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "595aab1d78b74ffb",
        "x": 1720,
        "y": 2200,
        "wires": []
    },
    {
        "id": "get_hydro_history_record_offset",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get History Record Offset",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.hydro_history_record_offset",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "history_offset",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 470,
        "y": 2120,
        "wires": [
            [
                "get_hydro_history_records_per_page"
            ]
        ]
    },
    {
        "id": "get_hydro_history_records_per_page",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get History Records Per Page",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.hydro_history_records_per_page",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "history_limit",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 530,
        "y": 2200,
        "wires": [
            [
                "94fcd52572e0a087",
                "9def0b0926f8c33d",
                "build_ec_reference_select"
            ]
        ]
    },
    {
        "id": "hydro_history_offset_changed",
        "type": "server-state-changed",
        "z": "3ec2ad8e53afdcdc",
        "name": "History Offset Changed",
        "server": "28f1afb.2a0725",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.hydro_history_record_offset"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 180,
        "y": 2180,
        "wires": [
            [
                "get_hydro_history_record_offset"
            ]
        ]
    },
    {
        "id": "hydro_history_page_size_changed",
        "type": "server-state-changed",
        "z": "3ec2ad8e53afdcdc",
        "name": "History Page Size Changed",
        "server": "28f1afb.2a0725",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.hydro_history_records_per_page"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 180,
        "y": 2240,
        "wires": [
            [
                "get_hydro_history_record_offset"
            ]
        ]
    },
    {
        "id": "9def0b0926f8c33d",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "browser controls",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 2120,
        "wires": []
    },
    {
        "id": "build_ec_reference_select",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Build EC Reference SELECT",
        "func": "msg.topic = `\nSELECT\n    id,\n    captured_at,\n    meter_value,\n    meter_units,\n    probe_voltage,\n    tank_gallons,\n    water_temp_f,\n    rain_since_last_reference_in,\n    estimated_rain_added_gal,\n    note,\n    operator_note\nFROM hydro_tds_reference_reading\nORDER BY captured_at DESC\nLIMIT 20;\n`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 820,
        "y": 2280,
        "wires": [
            [
                "query_ec_reference_history"
            ]
        ]
    },
    {
        "id": "query_ec_reference_history",
        "type": "mysql",
        "z": "3ec2ad8e53afdcdc",
        "mydb": "mysql_logbook_placeholder",
        "name": "Query EC Reference History",
        "x": 1120,
        "y": 2280,
        "wires": [
            [
                "format_ec_reference_history"
            ]
        ]
    },
    {
        "id": "format_ec_reference_history",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Format EC Reference History",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\n\n// Format numeric values for dashboard display.\n// Important: NULL database values must stay \"-\".\n// Without this check, JavaScript converts Number(null) to 0.\nfunction fmt(v, d) {\n    if (v === null || v === undefined || v === \"\") {\n        return \"-\";\n    }\n\n    const n = Number(v);\n\n    if (!Number.isFinite(n)) {\n        return \"-\";\n    }\n\n    return n.toFixed(d);\n}\n\nfunction fmtDate(v) {\n    const d = new Date(v);\n\n    if (Number.isNaN(d.getTime())) {\n        return String(v || \"\");\n    }\n\n    return d.toLocaleString(\"en-US\", {\n        weekday: \"short\",\n        month: \"short\",\n        day: \"numeric\",\n        hour: \"numeric\",\n        minute: \"2-digit\",\n        hour12: true\n    });\n}\n\nconst md = rows.map(r => {\n    let s = `### ${fmtDate(r.captured_at)}\\n`;\n\n    s += `**Meter:** ${fmt(r.meter_value, 2)} ${r.meter_units || \"\"}`;\n    s += `  •  **Probe:** ${fmt(r.probe_voltage, 3)} V`;\n    s += `  •  **Tank:** ${fmt(r.tank_gallons, 1)} gal`;\n    s += `  •  **Temp:** ${fmt(r.water_temp_f, 1)} °F\\n\\n`;\n\n    s += `Rain Since: ${fmt(r.rain_since_last_reference_in, 3)} in`;\n    s += `  •  Rain Added: ${fmt(r.estimated_rain_added_gal, 3)} gal\\n\\n`;\n\n    if (r.note) {\n        s += `${String(r.note)}\\n`;\n    }\n\n    if (r.operator_note) {\n        s += `\\n**Operator Note:** ${String(r.operator_note)}\\n`;\n    }\n\n    return s;\n}).join(\"\\n---\\n\");\n\nmsg.payload = JSON.stringify({\n    state: \"ok\",\n    ec_reference_text: md,\n    updated_at: new Date().toISOString()\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 2280,
        "wires": [
            [
                "publish_ec_reference_history",
                "00ae8868abd799ec"
            ]
        ]
    },
    {
        "id": "publish_ec_reference_history",
        "type": "mqtt out",
        "z": "3ec2ad8e53afdcdc",
        "name": "Publish EC Reference History",
        "topic": "hydro/history/ec_reference",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "595aab1d78b74ffb",
        "x": 1750,
        "y": 2280,
        "wires": []
    },
    {
        "id": "00ae8868abd799ec",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "Format EC Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 2380,
        "wires": []
    },
    {
        "id": "mysql_logbook_placeholder",
        "type": "MySQLdatabase",
        "name": "MariaDB logbook",
        "host": "core-mariadb",
        "port": "3306",
        "db": "logbook",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "595aab1d78b74ffb",
        "type": "mqtt-broker",
        "name": "Sungunners MQTT Broker",
        "broker": "192.168.8.20",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28f1afb.2a0725",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "5f2b87e2845153db",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0",
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]