node-red/Flow-3_DB_History_Browser.json
[
    {
        "id": "f53815261b6cbf31",
        "type": "inject",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Recent Activity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 2120,
        "wires": [
            [
                "get_hydro_history_record_offset"
            ]
        ]
    },
    {
        "id": "94fcd52572e0a087",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Build Recent Activity SELECT",
        "func": "const offset = Math.max(0, Number(msg.history_offset) || 0);\nconst limitRaw = Number(msg.history_limit) || 5;\nconst limit = Math.min(50, Math.max(1, limitRaw));\n\nmsg.topic = `\nSELECT *\nFROM v_hydro_recent_activity\nORDER BY activity_time DESC\nLIMIT ${limit}\nOFFSET ${offset};\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 2200,
        "wires": [
            [
                "f5ee07229a11f2f3"
            ]
        ]
    },
    {
        "id": "f5ee07229a11f2f3",
        "type": "mysql",
        "z": "3ec2ad8e53afdcdc",
        "mydb": "mysql_logbook_placeholder",
        "name": "Query Recent Activity",
        "x": 1140,
        "y": 2200,
        "wires": [
            [
                "fbc1559bf50e083e"
            ]
        ]
    },
    {
        "id": "fbc1559bf50e083e",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Format Recent Activity",
        "func": "// ─────────────────────────────────────────────────────────────\n// Format Recent Activity\n//\n// Purpose:\n//   Format records from v_hydro_recent_activity for the Home\n//   Assistant Hydro-History browser.\n//\n// Measurement Model:\n//   - Maintenance events contain before/after A0 and A1 voltage snapshots.\n//   - EC_REFERENCE events contain one synchronized A0/A1 snapshot.\n//   - meter_value is the handheld EC reference measurement.\n//   - Analog probe voltages are not labeled as EC or TDS.\n//\n// Display Strategy:\n//   - Use filtered voltages for concise operator-facing cards.\n//   - Preserve raw voltages in the returned record object.\n//   - Reject NULL and blank values before numeric conversion.\n//\n// Revision History:\n//\n// GAL 2026-07-21\n// - Removed legacy tds_voltage references.\n// - Added A0/A1 filtered before-and-after cycle display.\n// - Added A0/A1 filtered EC-reference display.\n// - Preserved all view columns in the returned record object.\n//\n// GAL 2026-07-04\n// - Added meter_value and meter_units support.\n//\n// GAL 2026-07-01\n// - Added operator notes and water temperature.\n// ─────────────────────────────────────────────────────────────\n\nconst rows =\n    Array.isArray(msg.payload)\n        ? msg.payload\n        : [];\n\n/**\n * Format a numeric value.\n *\n * Important:\n * Number(null) becomes zero in JavaScript, so NULL and blank\n * values must be rejected before conversion.\n */\nfunction fmtNum(value, decimals) {\n    if (\n        value === null ||\n        value === undefined ||\n        value === \"\"\n    ) {\n        return null;\n    }\n\n    const numberValue =\n        Number(value);\n\n    return Number.isFinite(numberValue)\n        ? numberValue.toFixed(decimals)\n        : null;\n}\n\n/**\n * Format the activity timestamp for dashboard display.\n */\nfunction fmtDate(value) {\n    if (!value) {\n        return \"\";\n    }\n\n    const date =\n        new Date(value);\n\n    if (Number.isNaN(date.getTime())) {\n        return String(value);\n    }\n\n    return date.toLocaleString(\n        \"en-US\",\n        {\n            weekday: \"short\",\n            month: \"short\",\n            day: \"numeric\",\n            hour: \"numeric\",\n            minute: \"2-digit\",\n            hour12: true\n        }\n    );\n}\n\n/**\n * Add a single voltage value when it is available.\n */\nfunction addVoltageValue(\n    details,\n    label,\n    value,\n    separator\n) {\n    const formatted =\n        fmtNum(value, 3);\n\n    if (formatted !== null) {\n        details.push(\n            `${label}${separator}${formatted} V`\n        );\n    }\n}\n\n/**\n * Add a before-and-after voltage summary.\n */\nfunction addVoltageChange(\n    details,\n    label,\n    beforeValue,\n    afterValue,\n    separator\n) {\n    const before =\n        fmtNum(beforeValue, 3);\n\n    const after =\n        fmtNum(afterValue, 3);\n\n    if (\n        before !== null &&\n        after !== null\n    ) {\n        details.push(\n            `${label}${separator}${before} → ${after} V`\n        );\n    } else if (before !== null) {\n        details.push(\n            `${label} Before${separator}${before} V`\n        );\n    } else if (after !== null) {\n        details.push(\n            `${label} After${separator}${after} V`\n        );\n    }\n}\n\n/**\n * Build event-specific card details.\n *\n * NOTE and EC_REFERENCE records must not inherit generic\n * fill or dose fields.\n */\nfunction buildDetails(\n    record,\n    withColons = false\n) {\n    const type =\n        String(\n            record.event_type || \"\"\n        ).toUpperCase();\n\n    const details = [];\n\n    const separator =\n        withColons\n            ? \": \"\n            : \" \";\n\n    const fill =\n        fmtNum(record.fill_gallons, 2);\n\n    const doseA =\n        fmtNum(record.dose_a_ml, 0);\n\n    const doseB =\n        fmtNum(record.dose_b_ml, 0);\n\n    const tank =\n        fmtNum(record.tank_gallons, 1);\n\n    const temp =\n        fmtNum(record.water_temp_f, 1);\n\n    if (type === \"FILL\") {\n        if (fill !== null) {\n            details.push(\n                `Fill${separator}${fill} gal`\n            );\n        }\n\n        if (doseA !== null) {\n            details.push(\n                `A${separator}${doseA} mL`\n            );\n        }\n\n        if (doseB !== null) {\n            details.push(\n                `B${separator}${doseB} mL`\n            );\n        }\n\n        addVoltageChange(\n            details,\n            \"A0 Filtered\",\n            record.a0_filtered_v_before,\n            record.a0_filtered_v_after,\n            separator\n        );\n\n        addVoltageChange(\n            details,\n            \"A1 Filtered\",\n            record.a1_filtered_v_before,\n            record.a1_filtered_v_after,\n            separator\n        );\n\n        if (tank !== null) {\n            details.push(\n                `Start${separator}${tank} gal`\n            );\n        }\n\n        return details;\n    }\n\n    if (type === \"EC_REFERENCE\") {\n        const meter =\n            fmtNum(record.meter_value, 2);\n\n        const units =\n            record.meter_units || \"EC\";\n\n        if (meter !== null) {\n            details.push(\n                `Meter${separator}${meter} ${units}`\n            );\n        }\n\n        addVoltageValue(\n            details,\n            \"A0 Filtered\",\n            record.a0_filtered_v,\n            separator\n        );\n\n        addVoltageValue(\n            details,\n            \"A1 Filtered\",\n            record.a1_filtered_v,\n            separator\n        );\n\n        if (tank !== null) {\n            details.push(\n                `Tank${separator}${tank} gal`\n            );\n        }\n\n        if (temp !== null) {\n            details.push(\n                `Temp${separator}${temp} °F`\n            );\n        }\n\n        return details;\n    }\n\n    if (type === \"DOSE\") {\n        if (doseA !== null) {\n            details.push(\n                `A${separator}${doseA} mL`\n            );\n        }\n\n        if (doseB !== null) {\n            details.push(\n                `B${separator}${doseB} mL`\n            );\n        }\n\n        addVoltageChange(\n            details,\n            \"A0 Filtered\",\n            record.a0_filtered_v_before,\n            record.a0_filtered_v_after,\n            separator\n        );\n\n        addVoltageChange(\n            details,\n            \"A1 Filtered\",\n            record.a1_filtered_v_before,\n            record.a1_filtered_v_after,\n            separator\n        );\n\n        if (tank !== null) {\n            details.push(\n                `Tank${separator}${tank} gal`\n            );\n        }\n\n        return details;\n    }\n\n    if (type === \"NOTE\") {\n        // NOTE records display their note text below the header.\n        return details;\n    }\n\n    // Fallback for any additional maintenance event types.\n    if (fill !== null) {\n        details.push(\n            `Fill${separator}${fill} gal`\n        );\n    }\n\n    if (doseA !== null) {\n        details.push(\n            `A${separator}${doseA} mL`\n        );\n    }\n\n    if (doseB !== null) {\n        details.push(\n            `B${separator}${doseB} mL`\n        );\n    }\n\n    addVoltageChange(\n        details,\n        \"A0 Filtered\",\n        record.a0_filtered_v_before,\n        record.a0_filtered_v_after,\n        separator\n    );\n\n    addVoltageChange(\n        details,\n        \"A1 Filtered\",\n        record.a1_filtered_v_before,\n        record.a1_filtered_v_after,\n        separator\n    );\n\n    if (tank !== null) {\n        details.push(\n            `Start${separator}${tank} gal`\n        );\n    }\n\n    if (temp !== null) {\n        details.push(\n            `Temp${separator}${temp} °F`\n        );\n    }\n\n    return details;\n}\n\nconst records =\n    rows.map(record => {\n        const title =\n            `#${record.source_id} — ` +\n            `${record.event_type || \"EVENT\"}`;\n\n        const details =\n            buildDetails(record, false);\n\n        let label =\n            fmtDate(record.activity_time);\n\n        if (record.source) {\n            label +=\n                ` · ${record.source}`;\n        }\n\n        if (details.length > 0) {\n            label +=\n                `\\n${details.join(\" · \")}`;\n        }\n\n        if (record.note) {\n            label +=\n                `\\n${String(record.note).slice(0, 240)}`;\n        }\n\n        if (record.operator_note) {\n            label +=\n                `\\nOperator Note: ` +\n                `${String(record.operator_note).slice(0, 240)}`;\n        }\n\n        return {\n            ...record,\n            card_title: title,\n            card_label: label,\n            select_id:\n                `${record.activity_source}:` +\n                `${record.source_id}`\n        };\n    });\n\nconst lines =\n    records.map(record => {\n        const details =\n            buildDetails(record, true);\n\n        let line =\n            `### ${record.card_title}\\n`;\n\n        line +=\n            `**${fmtDate(record.activity_time)}**`;\n\n        if (record.source) {\n            line +=\n                ` · ${record.source}`;\n        }\n\n        line += \"\\n\\n\";\n\n        if (details.length > 0) {\n            line +=\n                details.join(\" · \") +\n                \"\\n\\n\";\n        }\n\n        if (record.note) {\n            line +=\n                `${String(record.note).slice(0, 240)}\\n`;\n        }\n\n        if (record.operator_note) {\n            line +=\n                `\\n**Operator Note:** ` +\n                `${String(record.operator_note).slice(0, 240)}\\n`;\n        }\n\n        return line;\n    });\n\nmsg.payload =\n    JSON.stringify({\n        state: \"ok\",\n        activity_text:\n            lines.join(\"\\n---\\n\"),\n        records: records,\n        updated_at:\n            new Date().toISOString()\n    });\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2200,
        "wires": [
            [
                "af6c5898dee7e49e",
                "8147a547056e405a"
            ]
        ]
    },
    {
        "id": "af6c5898dee7e49e",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "Formatted Query Text",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 2140,
        "wires": []
    },
    {
        "id": "8147a547056e405a",
        "type": "mqtt out",
        "z": "3ec2ad8e53afdcdc",
        "name": "Publish Recent Activity",
        "topic": "hydro/history/recent",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "595aab1d78b74ffb",
        "x": 1720,
        "y": 2200,
        "wires": []
    },
    {
        "id": "get_hydro_history_record_offset",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get History Record Offset",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.hydro_history_record_offset",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "history_offset",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 470,
        "y": 2120,
        "wires": [
            [
                "get_hydro_history_records_per_page"
            ]
        ]
    },
    {
        "id": "get_hydro_history_records_per_page",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get History Records Per Page",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.hydro_history_records_per_page",
        "state_type": "num",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "history_limit",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 530,
        "y": 2200,
        "wires": [
            [
                "94fcd52572e0a087",
                "9def0b0926f8c33d",
                "build_ec_reference_select"
            ]
        ]
    },
    {
        "id": "hydro_history_offset_changed",
        "type": "server-state-changed",
        "z": "3ec2ad8e53afdcdc",
        "name": "History Offset Changed",
        "server": "28f1afb.2a0725",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.hydro_history_record_offset"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 180,
        "y": 2180,
        "wires": [
            [
                "get_hydro_history_record_offset"
            ]
        ]
    },
    {
        "id": "hydro_history_page_size_changed",
        "type": "server-state-changed",
        "z": "3ec2ad8e53afdcdc",
        "name": "History Page Size Changed",
        "server": "28f1afb.2a0725",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_number.hydro_history_records_per_page"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 180,
        "y": 2240,
        "wires": [
            [
                "get_hydro_history_record_offset"
            ]
        ]
    },
    {
        "id": "9def0b0926f8c33d",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "browser controls",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 2120,
        "wires": []
    },
    {
        "id": "build_ec_reference_select",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Build EC Reference SELECT",
        "func": "// ─────────────────────────────────────────────────────────────\n// Build EC Reference SELECT\n//\n// Purpose:\n//   Retrieve recent handheld EC reference readings with the\n//   synchronized A0/A1 raw and filtered voltage snapshots.\n//\n// GAL 2026-07-22\n// - Replaced legacy probe_voltage selection.\n// - Added A0/A1 raw and filtered voltage fields.\n// ─────────────────────────────────────────────────────────────\n\nmsg.topic = `\nSELECT\n    id,\n    captured_at,\n\n    meter_value,\n    meter_units,\n\n    a0_raw_v,\n    a0_filtered_v,\n    a1_raw_v,\n    a1_filtered_v,\n\n    tank_gallons,\n    water_temp_f,\n\n    rain_since_last_reference_in,\n    estimated_rain_added_gal,\n\n    note,\n    operator_note\n\nFROM hydro_tds_reference_reading\n\nORDER BY captured_at DESC\n\nLIMIT 20;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2280,
        "wires": [
            [
                "query_ec_reference_history"
            ]
        ]
    },
    {
        "id": "query_ec_reference_history",
        "type": "mysql",
        "z": "3ec2ad8e53afdcdc",
        "mydb": "mysql_logbook_placeholder",
        "name": "Query EC Reference History",
        "x": 1120,
        "y": 2280,
        "wires": [
            [
                "format_ec_reference_history"
            ]
        ]
    },
    {
        "id": "format_ec_reference_history",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Format EC Reference History",
        "func": "// ─────────────────────────────────────────────────────────────\n// Format EC Reference History\n//\n// Purpose:\n//   Format handheld EC reference records for the dedicated\n//   Home Assistant EC Reference History display.\n//\n// Measurement Model:\n//   - meter_value is the handheld reference measurement.\n//   - A0 is the KEYESTUDIO production/control channel.\n//   - A1 is the DFRobot validation/reference channel.\n//   - Raw and filtered values are voltages, not EC or TDS.\n//\n// Display Strategy:\n//   - Show filtered A0 and A1 voltages in the concise history.\n//   - Keep raw A0/A1 values available in the database.\n//   - Preserve NULL database values as a dash.\n//\n// Revision History:\n//\n// GAL 2026-07-21\n// - Replaced legacy probe_voltage display.\n// - Added A0 and A1 filtered voltage display.\n// - Preserved existing meter, tank, temperature, rain, and note data.\n// ─────────────────────────────────────────────────────────────\n\nconst rows =\n    Array.isArray(msg.payload)\n        ? msg.payload\n        : [];\n\n/**\n * Format a numeric value for dashboard display.\n *\n * NULL and blank values must remain unavailable rather than\n * being converted to zero.\n */\nfunction fmt(value, decimals) {\n    if (\n        value === null ||\n        value === undefined ||\n        value === \"\"\n    ) {\n        return \"-\";\n    }\n\n    const numberValue =\n        Number(value);\n\n    if (!Number.isFinite(numberValue)) {\n        return \"-\";\n    }\n\n    return numberValue.toFixed(decimals);\n}\n\n/**\n * Format the database timestamp for dashboard display.\n */\nfunction fmtDate(value) {\n    const date =\n        new Date(value);\n\n    if (Number.isNaN(date.getTime())) {\n        return String(value || \"\");\n    }\n\n    return date.toLocaleString(\n        \"en-US\",\n        {\n            weekday: \"short\",\n            month: \"short\",\n            day: \"numeric\",\n            hour: \"numeric\",\n            minute: \"2-digit\",\n            hour12: true\n        }\n    );\n}\n\nconst markdown =\n    rows.map(record => {\n        let text =\n            `### ${fmtDate(record.captured_at)}\\n`;\n\n        text +=\n            `**Meter:** ` +\n            `${fmt(record.meter_value, 2)} ` +\n            `${record.meter_units || \"\"}`;\n\n        text +=\n            `  •  **A0 Filtered:** ` +\n            `${fmt(record.a0_filtered_v, 3)} V`;\n\n        text +=\n            `  •  **A1 Filtered:** ` +\n            `${fmt(record.a1_filtered_v, 3)} V`;\n\n        text +=\n            `  •  **Tank:** ` +\n            `${fmt(record.tank_gallons, 1)} gal`;\n\n        text +=\n            `  •  **Temp:** ` +\n            `${fmt(record.water_temp_f, 1)} °F\\n\\n`;\n\n        text +=\n            `Rain Since: ` +\n            `${fmt(record.rain_since_last_reference_in, 3)} in`;\n\n        text +=\n            `  •  Rain Added: ` +\n            `${fmt(record.estimated_rain_added_gal, 3)} gal\\n\\n`;\n\n        if (record.note) {\n            text +=\n                `${String(record.note)}\\n`;\n        }\n\n        if (record.operator_note) {\n            text +=\n                `\\n**Operator Note:** ` +\n                `${String(record.operator_note)}\\n`;\n        }\n\n        return text;\n    }).join(\"\\n---\\n\");\n\nmsg.payload =\n    JSON.stringify({\n        state: \"ok\",\n        ec_reference_text: markdown,\n        updated_at:\n            new Date().toISOString()\n    });\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 2280,
        "wires": [
            [
                "publish_ec_reference_history",
                "00ae8868abd799ec"
            ]
        ]
    },
    {
        "id": "publish_ec_reference_history",
        "type": "mqtt out",
        "z": "3ec2ad8e53afdcdc",
        "name": "Publish EC Reference History",
        "topic": "hydro/history/ec_reference",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "595aab1d78b74ffb",
        "x": 1750,
        "y": 2280,
        "wires": []
    },
    {
        "id": "00ae8868abd799ec",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "Format EC Format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1650,
        "y": 2380,
        "wires": []
    },
    {
        "id": "mysql_logbook_placeholder",
        "type": "MySQLdatabase",
        "name": "MariaDB logbook",
        "host": "core-mariadb",
        "port": "3306",
        "db": "logbook",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "595aab1d78b74ffb",
        "type": "mqtt-broker",
        "name": "Sungunners MQTT Broker",
        "broker": "192.168.8.20",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "28f1afb.2a0725",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "b8e9afa37797dd51",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0",
            "node-red-contrib-home-assistant-websocket": "0.80.3"
        }
    }
]