node-red/Flow-2_TDS_Reference.json
[
    {
        "id": "tds_ref_capture_evt",
        "type": "server-state-changed",
        "z": "3ec2ad8e53afdcdc",
        "name": "Capture TDS Reference Button",
        "server": "28f1afb.2a0725",
        "version": 6,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entities": {
            "entity": [
                "input_button.capture_outside_tds_reference_reading"
            ],
            "substring": [],
            "regex": []
        },
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": true,
        "ignorePrevStateUnknown": true,
        "ignorePrevStateUnavailable": true,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            }
        ],
        "x": 160,
        "y": 1460,
        "wires": [
            [
                "tds_ref_get_voltage"
            ]
        ]
    },
    {
        "id": "tds_ref_get_voltage",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get TDS Raw Voltage",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.hydroponics_patio_esp32_tds_raw",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "tds_voltage",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 280,
        "y": 1540,
        "wires": [
            [
                "tds_ref_get_estimated_ec"
            ]
        ]
    },
    {
        "id": "tds_ref_get_gallons",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Outside Tank Gallons",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outside_tank_gallons",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "tank_gallons",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "tds_ref_get_meter"
            ]
        ]
    },
    {
        "id": "tds_ref_get_meter",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Manual Meter Entry",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.outside_tds_meter_entry",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "meter_value",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 510,
        "y": 1460,
        "wires": [
            [
                "tds_ref_get_units"
            ]
        ]
    },
    {
        "id": "tds_ref_get_units",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Meter Units",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_select.outside_tds_meter_units",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "meter_units",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 660,
        "y": 1540,
        "wires": [
            [
                "tds_ref_get_note"
            ]
        ]
    },
    {
        "id": "tds_ref_get_note",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Reference Note",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_text.outside_tds_reference_note",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "reference_note",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 780,
        "y": 1620,
        "wires": [
            [
                "aeca6bd7eb65702e"
            ]
        ]
    },
    {
        "id": "tds_ref_build_sql",
        "type": "function",
        "z": "3ec2ad8e53afdcdc",
        "name": "Build TDS Reference INSERT SQL",
        "func": "// ─────────────────────────────────────────────────────────────\n// Build TDS Reference INSERT SQL\n//\n// Purpose:\n// - Captures a handheld EC/TDS reference reading.\n// - Stores the installed probe voltage, current Estimated EC,\n//   tank gallons, water temperature, rainfall context, and note.\n// - Estimated EC is stored as a snapshot of the Home Assistant\n//   calculation at capture time so model accuracy can be reviewed\n//   later even if the formula changes.\n// ─────────────────────────────────────────────────────────────\n\nconst now = Date.now();\nconst lastCapture = flow.get(\"outside_tds_reference_last_capture_ms\") || 0;\n\nconst LOCKOUT_MS = 30000;\n\nif (now - lastCapture < LOCKOUT_MS) {\n    node.warn(`Ignored duplicate TDS reference capture inside ${LOCKOUT_MS / 1000} second lockout.`);\n    return null;\n}\n\nflow.set(\"outside_tds_reference_last_capture_ms\", now);\n\nfunction cleanNumber(value) {\n    if (value === undefined || value === null) return null;\n    const n = parseFloat(String(value).replace(/[^0-9.\\-]/g, \"\"));\n    return Number.isFinite(n) ? n : null;\n}\n\nfunction sqlText(value) {\n    if (value === undefined || value === null) return \"NULL\";\n    const s = String(value).trim();\n    if (s.length === 0) return \"NULL\";\n    return \"'\" + s.replace(/'/g, \"''\").slice(0, 255) + \"'\";\n}\n\nconst voltage = cleanNumber(msg.tds_voltage);\nconst estimatedEc = cleanNumber(msg.estimated_ec);\nconst meterValue = cleanNumber(msg.meter_value);\nconst gallons = cleanNumber(msg.tank_gallons);\nconst waterTemp = cleanNumber(msg.water_temp_f);\nconst rainTotal = cleanNumber(msg.rain_total_in);\nconst previousRain = cleanNumber(msg.previous_rain_total);\nconst tankLength = cleanNumber(msg.tank_length_in);\nconst tankWidth = cleanNumber(msg.tank_width_in);\nconst captureFactor = cleanNumber(msg.rain_capture_factor) ?? 1.0;\n\nconst units = String(msg.meter_units || \"ppm\").trim();\nconst note = msg.reference_note;\n\nlet rainSince = null;\nlet rainAddedGallons = null;\n\nif (\n    rainTotal !== null &&\n    previousRain !== null &&\n    tankLength !== null &&\n    tankWidth !== null\n) {\n    rainSince = Math.max(0, rainTotal - previousRain);\n    rainAddedGallons = rainSince * tankLength * tankWidth / 231 * captureFactor;\n}\n\nif (voltage === null) {\n    node.error(\"TDS reference capture failed: invalid TDS voltage\", msg);\n    return null;\n}\n\nif (meterValue === null || meterValue <= 0) {\n    node.error(\"TDS reference capture failed: manual meter value is missing or invalid\", msg);\n    return null;\n}\n\nmsg.topic = `\nINSERT INTO hydro_tds_reference_reading\n    (\n        system_key,\n        probe_voltage,\n        estimated_ec,\n        meter_value,\n        meter_units,\n        tank_gallons,\n        water_temp_f,\n        rain_total_in,\n        rain_since_last_reference_in,\n        estimated_rain_added_gal,\n        note\n    )\nVALUES\n    (\n        'outside',\n        ${voltage.toFixed(3)},\n        ${estimatedEc === null ? \"NULL\" : estimatedEc.toFixed(2)},\n        ${meterValue.toFixed(2)},\n        ${sqlText(units)},\n        ${gallons === null ? \"NULL\" : gallons.toFixed(2)},\n        ${waterTemp === null ? \"NULL\" : waterTemp.toFixed(1)},\n        ${rainTotal === null ? \"NULL\" : rainTotal.toFixed(3)},\n        ${rainSince === null ? \"NULL\" : rainSince.toFixed(3)},\n        ${rainAddedGallons === null ? \"NULL\" : rainAddedGallons.toFixed(3)},\n        ${sqlText(note)}\n    );\n`;\n\nmsg.payload = {\n    system_key: \"outside\",\n    probe_voltage: voltage,\n    estimated_ec: estimatedEc,\n    meter_value: meterValue,\n    meter_units: units,\n    tank_gallons: gallons,\n    water_temp_f: waterTemp,\n    rain_total_in: rainTotal,\n    rain_since_last_reference_in: rainSince,\n    estimated_rain_added_gal: rainAddedGallons,\n    note: note\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1460,
        "wires": [
            [
                "tds_ref_sql_preview",
                "tds_ref_insert"
            ]
        ],
        "info": "// ─────────────────────────────────────────────────────────────\r\n// Build TDS Reference INSERT SQL\r\n//\r\n// Purpose:\r\n// - Builds the SQL INSERT statement for a handheld EC/TDS\r\n//   reference measurement.\r\n// - Records the operating conditions at the moment the\r\n//   reference was taken.\r\n// - Provides the engineering dataset used to evaluate and\r\n//   improve the Estimated EC model.\r\n//\r\n// Database:\r\n//   hydro_tds_reference_reading\r\n//\r\n// Captured Data:\r\n// - Probe voltage\r\n// - Estimated EC (Home Assistant prediction)\r\n// - Handheld meter reading (ground truth)\r\n// - Meter units\r\n// - Tank gallons\r\n// - Water temperature\r\n// - Rainfall total\r\n// - Rainfall since previous reference\r\n// - Estimated rainwater added\r\n// - Operator note\r\n//\r\n// Notes:\r\n// - Estimated EC is stored as a snapshot of the controller's\r\n//   prediction at the time of the handheld measurement.\r\n// - This allows historical comparison of Estimated EC versus\r\n//   handheld EC even after the estimation model changes.\r\n// - Duplicate submissions are ignored for 30 seconds.\r\n// ─────────────────────────────────────────────────────────────"
    },
    {
        "id": "tds_ref_sql_preview",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "TDS Reference SQL Preview",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1960,
        "y": 1400,
        "wires": []
    },
    {
        "id": "tds_ref_insert",
        "type": "mysql",
        "z": "3ec2ad8e53afdcdc",
        "mydb": "mysql_logbook_placeholder",
        "name": "Insert TDS Reference Reading",
        "x": 1830,
        "y": 1540,
        "wires": [
            [
                "tds_ref_insert_result",
                "tds_ref_update_rain_baseline"
            ]
        ]
    },
    {
        "id": "tds_ref_insert_result",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "TDS Reference Insert Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2120,
        "y": 1480,
        "wires": []
    },
    {
        "id": "clear_tds_reference_note",
        "type": "api-call-service",
        "z": "3ec2ad8e53afdcdc",
        "name": "Clear TDS Reference Note",
        "server": "28f1afb.2a0725",
        "version": 7,
        "debugenabled": false,
        "action": "input_text.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"input_text.outside_tds_reference_note\",\"value\":\"\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_text",
        "service": "set_value",
        "x": 2380,
        "y": 1620,
        "wires": [
            [
                "reset_tds_units"
            ]
        ]
    },
    {
        "id": "reset_tds_units",
        "type": "api-call-service",
        "z": "3ec2ad8e53afdcdc",
        "name": "Reset Units to EC",
        "server": "28f1afb.2a0725",
        "version": 7,
        "debugenabled": false,
        "action": "input_select.select_option",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"input_select.outside_tds_meter_units\",\"option\":\"EC\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_select",
        "service": "select_option",
        "x": 2650,
        "y": 1620,
        "wires": [
            [
                "49f9f57f5be6257f"
            ]
        ]
    },
    {
        "id": "aeca6bd7eb65702e",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Tank Temp",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.hydroponics_patio_esp32_tank_temp",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "water_temp_f",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 820,
        "y": 1460,
        "wires": [
            [
                "1e4cbe5be3e11555",
                "tds_ref_get_rain_total"
            ]
        ]
    },
    {
        "id": "1e4cbe5be3e11555",
        "type": "debug",
        "z": "3ec2ad8e53afdcdc",
        "name": "Tank Temp Check",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "49f9f57f5be6257f",
        "type": "api-call-service",
        "z": "3ec2ad8e53afdcdc",
        "name": "Refresh History Browser",
        "server": "28f1afb.2a0725",
        "version": 7,
        "debugenabled": false,
        "action": "script.hydro_history_refresh",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "script",
        "service": "hydro_history_refresh",
        "x": 2970,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "clear_tds_meter_entry",
        "type": "api-call-service",
        "z": "3ec2ad8e53afdcdc",
        "name": "Clear TDS Meter Entry",
        "server": "28f1afb.2a0725",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"input_number.outside_tds_meter_entry\",\"value\":0}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_number",
        "service": "set_value",
        "x": 2080,
        "y": 1620,
        "wires": [
            [
                "clear_tds_reference_note"
            ]
        ]
    },
    {
        "id": "tds_ref_get_rain_total",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Current Rain Total",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.r3_rain",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rain_total_in",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 1000,
        "y": 1540,
        "wires": [
            [
                "tds_ref_get_prev_rain_total"
            ]
        ]
    },
    {
        "id": "tds_ref_get_prev_rain_total",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Previous Rain Total",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.outside_rain_total_at_last_ec_reference",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "previous_rain_total",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 1130,
        "y": 1620,
        "wires": [
            [
                "tds_ref_get_tank_length"
            ]
        ]
    },
    {
        "id": "tds_ref_get_tank_length",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Tank Exposed Length",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.outside_tank_exposed_length_in",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "tank_length_in",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 1190,
        "y": 1460,
        "wires": [
            [
                "tds_ref_get_tank_width"
            ]
        ]
    },
    {
        "id": "tds_ref_get_tank_width",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Tank Exposed Width",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.outside_tank_exposed_width_in",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "tank_width_in",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 1350,
        "y": 1540,
        "wires": [
            [
                "tds_ref_get_rain_capture_factor"
            ]
        ]
    },
    {
        "id": "tds_ref_get_rain_capture_factor",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Rain Capture Factor",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_number.outside_tank_rain_capture_factor",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "rain_capture_factor",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 1470,
        "y": 1620,
        "wires": [
            [
                "tds_ref_build_sql"
            ]
        ]
    },
    {
        "id": "tds_ref_update_rain_baseline",
        "type": "api-call-service",
        "z": "3ec2ad8e53afdcdc",
        "name": "Update Rain Baseline",
        "server": "28f1afb.2a0725",
        "version": 7,
        "debugenabled": false,
        "action": "input_number.set_value",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"entity_id\":\"input_number.outside_rain_total_at_last_ec_reference\",\"value\":\"{{rain_total_in}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "input_number",
        "service": "set_value",
        "x": 1800,
        "y": 1620,
        "wires": [
            [
                "clear_tds_meter_entry"
            ]
        ]
    },
    {
        "id": "tds_ref_get_estimated_ec",
        "type": "api-current-state",
        "z": "3ec2ad8e53afdcdc",
        "name": "Get Estimated EC",
        "server": "28f1afb.2a0725",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.outside_estimated_ec",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "estimated_ec",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            }
        ],
        "for": "",
        "forType": "num",
        "x": 190,
        "y": 1620,
        "wires": [
            [
                "tds_ref_get_gallons"
            ]
        ]
    },
    {
        "id": "28f1afb.2a0725",
        "type": "server",
        "name": "Home Assistant",
        "version": 6,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": [
            "y",
            "yes",
            "true",
            "on",
            "home",
            "open"
        ],
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    },
    {
        "id": "mysql_logbook_placeholder",
        "type": "MySQLdatabase",
        "name": "MariaDB logbook",
        "host": "core-mariadb",
        "port": "3306",
        "db": "logbook",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "e1c85ccd7ffe9d2c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-home-assistant-websocket": "0.80.3",
            "node-red-node-mysql": "3.0.0"
        }
    }
]